.row {
  @mixin clearfix;
  margin: 0 auto;
  margin-left: -var(--grid_gutter);
  margin-right: -var(--grid_gutter);
}

[class*='col-'] {
  float: left;
  position: relative;
  padding: var(--grid_gutter);
  span {
    display: block;
    padding: 10px;
    background: var(--gray);
  }
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33.333333333333%;
}

.col-4 {
  width: 25%;
}
